{% extends 'base.html.twig' %}

{% block title %}Hello StripeController!{% endblock %}

{% block body %}
<h1>Cancel page</h1>
<a href="{{path('checkout_confirm')}}" class="btn btn-success">Checkout Confirm</a>
<br>
{% endblock %}
